---
import Slideshow from '../components/Slideshow.astro';
import Base from '../layouts/Base.astro';
---

<Base>
	<Slideshow />
	<div class="grid grid-cols-5">
		<div>
			<div class="bg-white h-96">
				Test
			</div>
		</div>
		<div class="col-span-3">
			
		</div>
		<div>
			
		</div>
	</div>
</Base>
