---
import Slideshow from '../components/Slideshow.astro';
import CalendarIcon from "../assets/icons/calendar.svg";
import ArrowRightIcon from "../assets/icons/arrow-right.svg";
import LinkIcon from "../assets/icons/link.svg";
import CreditCardIcon from "../assets/icons/credit-card.svg";
import CompassIcon from "../assets/icons/compass.svg";
import CloudIcon from "../assets/icons/cloud.svg";
import ShieldCheckIcon from "../assets/icons/shield-check.svg";
import HouseIcon from "../assets/icons/house.svg";
import ScrollTextIcon from "../assets/icons/scroll-text.svg";
import CarFrontIcon from "../assets/icons/car-front.svg";
import ListIcon from "../assets/icons/list.svg";
import WrenchIcon from "../assets/icons/wrench.svg";
import CalendarDaysIcon from "../assets/icons/calendar-days.svg";
import Base from '../layouts/Base.astro';

const isProd = import.meta.env.PROD;
---

<Base>
	<Slideshow />
	<div class="flex gap-8">
		<div class="w-[270px] min-w-[270px]">
			<ul class="bg-primary border-t-8 px-6 py-4 border-primary-darken text-white font-light mb-8">
				<li>
					<a class="block font-bold p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">Home</a>
				</li>
				<li>
					<a class="block p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">News</a>
				</li>
				<li>
					<a class="block p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">Events</a>
				</li>
				<li>
					<a class="block p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">Gallery</a>
				</li>
				<li>
					<a class="block p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">Documents</a>
				</li>
				<li>
					<a class="block p-2 border-b border-white/20 hover:bg-white/10 uppercase" href="#">Ordinances</a>
				</li>
				<li>
					<a class="block p-2 hover:bg-white/10 uppercase" href="#">Contact</a>
				</li>
			</ul>
			<div class="relative bg-[url('/background.jpg')] bg-cover bg-center mt-8 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.7)] p-8">
				<div class="relative z-10 text-white">
					<h2 class="flex items-center gap-2 font-bold uppercase">
						<CalendarIcon class="h-4 -ml-1" />
						Weather Info
					</h2>
					<div class="flex items-center gap-4 py-4 border-b border-white/20">
						<div class="">
							<p class="font-bold text-white">Today</p>
							<p class="font-light text-xs">February 25, 2025</p>
						</div>
						<div class="text-center flex-1">
							<CloudIcon class="mx-auto h-4" />
						</div>
						<div class="text-right">
							<p class="font-bold text-white">54</p>
							<p class="font-light text-xs">10mph</p>
						</div>
					</div>
					<div class="flex items-center gap-4 py-4 border-b border-white/20">
						<div class="">
							<p class="font-bold text-white">Tuesday</p>
							<p class="font-light text-xs">February 26, 2025</p>
						</div>
						<div class="text-center flex-1">
							<CloudIcon class="mx-auto h-4" />
						</div>
						<div class="text-right">
							<p class="font-bold text-white">54</p>
							<p class="font-light text-xs">10mph</p>
						</div>
					</div>
					<div class="flex items-center gap-4 py-4 border-b border-white/20">
						<div class="">
							<p class="font-bold text-white">Wednesday</p>
							<p class="font-light text-xs">February 27, 2025</p>
						</div>
						<div class="text-center flex-1">
							<CloudIcon class="mx-auto h-4" />
						</div>
						<div class="text-right">
							<p class="font-bold text-white">54</p>
							<p class="font-light text-xs">10mph</p>
						</div>
					</div>
					<a href="#" class="block mt-4 text-xs">
						Weather data by <a href="#">OpenWeatherMap.org</a>
					</a>
				</div>
				
			</div>
		</div>
		<div class="w-full">
			<div class="bg-black/80 text-white p-8 mb-8">
				<h1 class="font-bold text-3xl mb-4 uppercase">New vacation home / short-term rental (Air BNB) ordinance passed</h1>
				<p class="font-light">If you have any questions, please contact Gina at gconover@rlpil.com. ALL Air BNB and short-term rentals must be registered with the Village of Round Lake Park with a valid certificate of insurance and require a License.</p>
			</div>
			<div class="bg-white p-8 mb-8">
				<h2 class="flex items-center gap-2 font-bold uppercase text-lg mb-4 text-black">
					<LinkIcon class="h-5 text-primary -ml-1" />
					Quick Links
				</h2>
				<div class="grid grid-cols-2 gap-4">
					<!-- Payment Center -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<CreditCardIcon class="h-4 text-primary -ml-1" />
						Make a Payment
					</p>
					<p class="font-light text-sm">Online payment of water bills and violations</p>
					</button>

					<!-- Police Department -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<ShieldCheckIcon class="h-4 text-primary -ml-1" />
						Police Department
					</p>
					<p class="font-light text-sm">Non-emergency police requests and contacts</p>
					</button>

					<!-- Building Department -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<HouseIcon class="h-4 text-primary -ml-1" />
						Building Department
					</p>
					<p class="font-light text-sm">Permits and inspections</p>
					</button>

					<!-- Village Ordinances -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<ScrollTextIcon class="h-4 text-primary -ml-1" />
						Village Ordinances
					</p>
					<p class="font-light text-sm">View regulations and codes</p>
					</button>

					<!-- Meetings & Minutes -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<CalendarDaysIcon class="h-4 text-primary -ml-1" />
						Village Meetings & Minutes
					</p>
					<p class="font-light text-sm">Agendas and past records</p>
					</button>

					<!-- Service Requests -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<WrenchIcon class="h-4 text-primary -ml-1" />
						Service Request
					</p>
					<p class="font-light text-sm">Submit service or maintenance issues</p>
					</button>

					<!-- Vehicle Stickers -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<CarFrontIcon class="h-4 text-primary -ml-1" />
						Vehicle Sticker
					</p>
					<p class="font-light text-sm">Sticker pricing and requirements</p>
					</button>

					<!-- Frequently Requested Links -->
					<button class="transition-all duration-200 ease-in-out text-left hover:border-l-4 border-primary hover:pl-4 cursor-pointer">
					<p class="flex items-center gap-2 font-bold text-primary">
						<ListIcon class="h-4 text-primary -ml-1" />
						Frequently Requested Links
					</p>
					<p class="font-light text-sm">Forms, permits, zoning, and more</p>
					</button>
				</div>
				</div>
			<div class="bg-white p-8">
				<h2 class="flex items-center gap-2 font-bold uppercase text-lg mb-4 text-black">
					<CompassIcon class="h-5 text-primary -ml-1" />
					All Resources
				</h2>
				<div class="grid grid-cols-2 gap-4">
					<div>
						<h3 class="font-bold text-black text-lg uppercase mb-1">Residents</h3>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Calendar</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Resources</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Emergency Notification System</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Payment Center</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Request Service</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Round Lake Area Schools</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Education Foundation</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Village History</a>
					</div>
					<div>
						<h3 class="font-bold text-black text-lg uppercase mb-1">Departments</h3>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Calendar</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Resources</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Emergency Notification System</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Payment Center</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Request Service</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Round Lake Area Schools</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Education Foundation</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Village History</a>
					</div>
					<div>
						<h3 class="font-bold text-black text-lg uppercase mb-1">Government</h3>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Calendar</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Resources</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Emergency Notification System</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Payment Center</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Request Service</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Round Lake Area Schools</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Education Foundation</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Village History</a>
					</div>
					<div>
						<h3 class="font-bold text-black text-lg uppercase mb-1">Businesses</h3>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Calendar</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Community Resources</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Emergency Notification System</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Payment Center</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Request Service</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Round Lake Area Schools</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Education Foundation</a>
						<a href="#" class="block py-1 text-primary font-light text-sm">Village History</a>
					</div>
				</div>
			</div>
		</div>
		<div class="w-[270px] min-w-[270px]">
			<div class="bg-white p-8 mb-8">
				<h2 class="flex items-center gap-2 font-bold uppercase text-black">
					<CalendarIcon class="h-4 text-primary -ml-1" />
					Upcoming Events
				</h2>
				<div class="py-4 border-b border-black/20">
					<p class="font-bold text-primary">Board Meeting</p>
					<p class="font-light text-sm">Village of Round Lake Park</p>
					<p class="font-light text-sm">March 4, 2025 | 6pm - 7pm</p>
				</div>
				<div class="py-4 border-b border-black/20">
					<p class="font-bold text-primary">Board Meeting</p>
					<p class="font-light text-sm">Village of Round Lake Park</p>
					<p class="font-light text-sm">March 31, 2025 | 6pm - 7pm</p>
				</div>
				<div class="py-4 border-b border-black/20">
					<p class="font-bold text-primary">Board Meeting</p>
					<p class="font-light text-sm">Village of Round Lake Park</p>
					<p class="font-light text-sm">March 4, 2025 | 6pm - 7pm</p>
				</div>
				<a href="#" class="flex items-center gap-2 font-bold text-primary mt-4 uppercase">
					All Events
					<ArrowRightIcon class="h-4" />
				</a>
			</div>
			<img src={isProd ? '/rlp-website/form.png' : '/form.png'} class="hover:opacity-60 cursor-pointer">
		</div>
	</div>
</Base>
