<div class="flex items-center">
    <button class="bg-primary hover:bg-primary/90 py-2 px-3 text-white cursor-pointer">EN</button>
    <button class="bg-white hover:bg-white/90 py-2 px-3 text-black cursor-pointer">FR</button>
    <button class="bg-white hover:bg-white/90 py-2 px-3 text-black cursor-pointer">ES</button>
</div>

