---
import SearchIcon from "../assets/icons/search.svg";
---
<div class="inline-flex">
    <input type="text" placeholder="Search this site..." class="bg-white py-2 px-4 placeholder:italic" />
    <button class="bg-primary hover:bg-primary-darken p-2 text-white cursor-pointer"><SearchIcon class="h-4" /></button>
</div>
