<div class="relative flex items-end bg-[url('/slideshow.jpg')] bg-cover xl:bg-[center_top_-5rem] h-[550px] mb-8">
    <div class="relative z-10 text-white p-4 m-8 border-l-8 border-primary text-4xl font-bold overflow-hidden">
        <span class="absolute left-0 top-0 bottom-0 w-[calc(100%+3rem)] -ml-4 bg-gradient-to-r from-black/70 to-transparent px-8" aria-hidden="true"></span>
        <span class="relative z-10">Happy Holidays to all!</span>
    </div>
</div>