<div class="relative flex items-end bg-[url('/slideshow.jpg')] bg-cover bg-[center_top_-5rem] h-[550px] mb-8 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)]">
    <div class="relative z-10 text-white p-4 m-8 border-l-8 border-primary text-4xl font-bold">Happy Holidays to all!</div>
</div>